.content-wrapper {
    form {
        input, select {
            margin-bottom: 15px;
        }
        label {
            width: 100px;
        }
        #default-form {
            margin-bottom: 33px;
            label {
                width: 70px;
            }
        }
        #special-form {
            margin-top: 12px;
        }
        .error-msg {
            color: #e33434;
            padding-left: 15px;
        }
    }
}