.content-wrapper {
    text-align: center;
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 27px;
        padding-bottom: 50px;
    }
    a {
        font-size: 30px;
    }
}