body {
    .box {
        padding: 0 20px 0 20px;

        .product-box {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            padding: 30px;
            font-size: 18px;
            min-height: 180px;
            background: white;
            margin-bottom: 40px;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 40px;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0px 0px 10px black;

            input[type="checkbox"] {
                display: none;
            }
        }
        .selected {
            background: #e84444;
            color: white;
        }
    }
}