* {
    margin: 0;
}

header {
    margin-bottom: 35px;
    background: white;
    box-shadow: 0px 1px 10px #000000d4;
    border-bottom: 1px solid #00000096;

    .wrapper {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .title {
        padding-left: 15px;
    }

    .buttons {
        position: sticky;
        display: inherit;
        left: 100%;
        padding-top: 5px;
        margin-bottom: auto;
        margin-top: auto;
    }
}

body {
    padding: 0;
    margin: 0;
    #main-wrapper {
        background: #e8e8e8;
        min-height: 100vh;
        position: relative;
        .content-wrapper {
            margin-left: 35px;
            margin-right: 35px;
            padding-bottom: 100px;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: 1px solid #00000096;
    box-shadow: 0px -1px 10px #000000d4;

    .wrapper {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        height: 55px;
        text-align: center;
        h4 {
            padding-top: 13px;
        }
    }
}