<div class="wrapper">
    <label for="weight">Weight (KG)</label>
    <input type="text" name="product[weight]" id="weight">
    <br>
    <span style="font-style: italic;"> * Please, provide weight in Kilograms</span>
</div>

<script>
    function isSpecialFormFilled() {
        return isFieldInt('weight');
    }
</script>