<div class="wrapper">
    <label for="size">Size (MB)</label>
    <input type="text" name="product[size]" id="size">
    <br>
    <span style="font-style: italic;"> * Please, provide size in Megabytes</span>
</div>

<script>
    function isSpecialFormFilled() {
        return isFieldInt('size');
    }
</script>
