<div class="wrapper">
    <label for="height">Height (CM)</label>
    <input type="text" name="product[height]" id="height">
    <br>
    <label for="width">Width (CM)</label>
    <input type="text" name="product[width]" id="width">
    <br>
    <label for="length">Length (CM)</label>
    <input type="text" name="product[length]" id="length">
    <br>
    <span style="font-style: italic;"> * Please, provide dimensions in HxWxL format</span>
</div>

<script>
    function isSpecialFormFilled() {
        isFilled = isFieldInt('height');
        isFilled &= isFieldInt('width');
        isFilled &= isFieldInt('length');
        return isFilled;
    }
</script>